src/*.exe
src/zuzcoin
src/zuzcoind
src/test_zuzcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.zuzcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
zuzcoin-qt
Zuzcoin-Qt.app

# Unit-tests
Makefile.test
zuzcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
